---
/*
 * Copyright (c) 2023 by Visphere & Vsph Technologies
 * Originally developed by Miłosz Gilga <https://miloszgilga.pl>
 */
import { PageHeaderVariant } from '~/ax-ssr/components/Header.astro';
import { useTranslationsSSR } from '~/i18n/translations';
import { i18nHref } from '~/i18n/url-parser';
import { getSafetyLocaleSSR } from '~/i18n/utils';
import MainLayout from '~/layouts/main-layout.astro';

const { lang } = getSafetyLocaleSSR(Astro.url);
const t = useTranslationsSSR('vsph.landingPage.download.pageContent');

const headerVariant: PageHeaderVariant = {
  background: 'bg-vsph-accent-3',
  foreground: 'text-vsph-dark-900',
  signUpButton: {
    fg: 'text-vsph-dark-900',
    border: 'border-vsph-dark-900',
  },
  openAppButton: {
    bg: 'bg-vsph-dark-900',
    fg: 'text-vsph-light-100',
    border: 'border-vsph-dark-900',
  },
  fontWeight: 'font-medium',
  langPickedTheme: 'light',
};
---

<MainLayout i18nPageId="download" headerVariant={headerVariant}>
  <div slot="headerContent">HEADER CONTENT</div>
  <div slot="mainContent">
    <h1>DOWNLOAD PAGE</h1>
    <div class="my-3">
      <b>{t('testProperty')}</b>
    </div>
    <a href={i18nHref('/', lang)}>GO TO ROOT</a>
  </div>
</MainLayout>
