---
/*
 * Copyright (c) 2023 by Visphere & Vsph Technologies
 * Originally developed by Miłosz Gilga <https://miloszgilga.pl>
 */
import { PageHeaderVariant } from '~/ax-ssr/components/Header.astro';
import { useTranslationsSSR } from '~/i18n/translations';
import { i18nHref } from '~/i18n/url-parser';
import { getSafetyLocaleSSR } from '~/i18n/utils';
import MainLayout from '~/layouts/main-layout.astro';

const { lang } = getSafetyLocaleSSR(Astro.url);
const t = useTranslationsSSR('vsph.landingPage.root.pageContent');

const headerVariant: PageHeaderVariant = {
  background: 'bg-vsph-dark-900',
  foreground: 'text-vsph-light-100',
  signUpButton: {
    fg: 'text-vsph-light-100',
    border: 'border-vsph-light-100',
  },
  openAppButton: {
    bg: 'bg-vsph-light-100',
    fg: 'text-vsph-dark-900',
    border: 'border-vsph-light-100',
  },
  fontWeight: 'font-light',
  langPickedTheme: 'dark',
};
---

<MainLayout i18nPageId="root" headerVariant={headerVariant}>
  <div slot="headerContent" class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-6">LEFT</div>
    <div class="col-span-12 md:col-span-6">RIGHT</div>
  </div>
  <div slot="mainContent">
    <h1>ROOT PAGE</h1>
    <div class="my-3">
      <b>{t('testProperty')}</b>
    </div>
    <a href={i18nHref('/', lang)}>GO TO ROOT</a>
  </div>
</MainLayout>
