---
/*
 * Copyright (c) 2023 by MoonSphere Systems
 * Originally developed by Milosz Gilga <https://miloszgilga.pl>
 */
import { PageHeaderVariant } from '~/ax-ssr/components/Header.astro';
import { useTranslationsSSR } from '~/i18n/translations';
import { i18nHref } from '~/i18n/url-parser';
import { getSafetyLocaleSSR } from '~/i18n/utils';
import MainLayout from '~/layouts/main-layout.astro';

const { lang } = getSafetyLocaleSSR(Astro.url);
const t = useTranslationsSSR('msph.landingPage.tutorial.pageContent');

const headerVariant: PageHeaderVariant = {};
---

<MainLayout i18nPageId="tutorial" headerVariant={headerVariant}>
  <div slot="headerContent">HEADER CONTENT</div>
  <div slot="mainContent">
    <h1>TUTORIAL PAGE</h1>
    <div class="my-3">
      <b>{t('testProperty')}</b>
    </div>
    <a href={i18nHref('/', lang)}>GO TO ROOT</a>
  </div>
</MainLayout>
